#banner
{
    width: 100%;
    font-size: 60px;
    height: 150px;
}

.small {
    display: inline-block;
}

#members
{
    float: right;
}

.image
{
    display: inline-block;
}

#img1
{
    margin-right: 615px;
}

#body
{
    background-color: rgb(254, 251, 233);
}